@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");
@import "./mq.scss";

$color-primary: #264653;
$color-secondary: #2a9d8f;
$color-terceary: #e9c46a;
$color-fourty: #f4a261;
$color-fiverty: #e76f51;
$color-black: #141c3a;
body {
  font-family: "Roboto", sans-serif;
  min-height: 300vh;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: $color-black;
}

h1 {
  font-size: 50px;
  font-weight: 500;
  font-family: "Open Sans", sans-serif;
}

h4 {
  font-weight: 300;
  font-size: 20px;
}

h5 {
  font-weight: normal;
}

ul {
  list-style: none;
}

.navbar__link {
  color: $color-secondary;
  text-transform: uppercase;
  font-weight: 300;
}

.navbar__wrapper {
  height: 9vh;
}

.navbar__background {
  background-color: #fff;
}

.navbar__ul__format {
  li {
    transition: all 300ms;
    a {
      color: $color-secondary;
      font-weight: 300;
    }
  }
  li:hover {
    transition: all 300ms;
    box-shadow: 1px solid $color-terceary;
    transform: scale(1.2, 1.2);
  }
}

.avatar {
  vertical-align: middle;
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.main__bottom__background {
  min-height: 100vh;
}

.main__wrapper {
  padding-top: 7rem;
  height: 70vh;
}

.main__avatar__container {
  position: absolute;
  left: 50%;
  top: 50%;
  img {
    position: relative;
    left: -50%;
    object-position: center;
  }
}

.main__myDescription__container {
  background-color: $color-secondary;
  font-family: "Open Sans";
  div {
    margin: 0 auto;
    width: 50%;
    min-height: 30vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    h3 {
      font-weight: 500;
      color: white;
      padding-bottom: 1rem;
    }
    p {
      color: white;
      font-size: 18px;
      font-weight: 300;
    }
  }
}

.main__logos__container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  img {
    width: 3rem;
    height: 3rem;
  }
  #react {
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
    @-moz-keyframes spin {
      100% {
        -moz-transform: rotate(360deg);
      }
    }
    @-webkit-keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
    @keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
  }
}

#category {
  // font-family: Staatliches !important;
  font-weight: 500;
}

#title {
  letter-spacing: 0.4px;
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 1.13636;
}

#banner {
  margin: 20px;
  height: 800px;
}

#editor {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.75;
}
